// colors
$main-color: #fc7d49;
$secondary-color: rgb(202, 202, 202);
$header-color: #f05151;
$txt-color: #555;
$light-color: #f4f4f4;
$container-width: 1200px;
$container-height: 1400px;

// fonts
$text-font: "Montserrat", sans-serif;
$header-font: "Antic Slab", serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $text-font;
  line-height: 1.4;
  background-color: #fc7d49;
  background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: $txt-color;
}
img {
  width: 100%;
  object-fit: cover;
}
input {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: $txt-color;
}
h1,
h2,
h3 {
  color: $header-color;
  font-family: $header-font;
}
h2 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3;
  text-align: center;
  margin-top: 0.5rem;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $txt-color;
  font-weight: bold;
  &:hover {
    color: $main-color;
  }
}
.container {
  max-width: $container-width;
  margin: 3rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 0.25rem;
  column-gap: 0.25rem;
}
