// colors
$bg-gradient: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
$bg-main: #dddddd;
$main-color: #f05454;
$txt-color: #555;
$light-color: #f4f4f4;
$container-width: 1200px;

// fonts
$text-font: "Montserrat", sans-serif;
$header-font: "Gaegu", cursive;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $text-font;
  line-height: 1.4;
  background-color: #222831;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  align-items: center;
  justify-content: center;
  color: $txt-color;
}
img {
  width: 100%;
}
input {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: $txt-color;
}
h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;
  margin-top: 0.5rem;
  font-family: $header-font;
}

ul {
  list-style: none;
}

.container {
  max-width: $container-width;
  min-width: $container-width;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 0.25rem;
  column-gap: 0.25rem;
}
