.recipe-about {
  background-color: $light-color;
  border-radius: 1px 1px 5px 1px;
  // padding: 2rem 0;
  text-align: center;

  .recipe-about__inner {
    width: 100%;

    .recipe-about__overview {
      background-color: $light-color;
      color: $txt-color;
      text-align: center;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      padding-bottom: 1rem;
      border-bottom: 3px solid $main-color;
      i {
        margin-right: 0.75rem;
      }
      .recipe-image {
        width: 100%;
        height: 400px;
      }
      .title {
        margin: 1rem 0;
        flex-basis: 100%;
      }
      .author {
        font-size: 50%;
      }

      .recipe-bookmark {
        color: $main-color;
        cursor: pointer;
        transform: translateY(-25%);
        &:hover {
          transform: scale(1.1) translateY(-25%);
        }
      }
    }
    .recipe-ingredients {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 1rem;
      justify-content: center;
      padding: 5rem;
      .ingredient {
        text-align: left;
      }
    }
  }
}
